<launch>
  <!-- Always set GUI to false for AWS RoboMaker Simulation
       Use gui:=true on roslaunch command-line to run with a gui.
  -->
  <arg name="gui" default="false"/>

  <!-- Optional physics profile for Gazebo server. The .world file must have 
       the corresponding physics profile name. If unspecified, the physics 
       profile tagged as default=true is used. 
       See http://gazebosim.org/tutorials?tut=preset_manager&cat=physics
  -->
  <arg name="physics_profile" value="$(optenv PHYSICS_PROFILE '')"/>

  <!-- Optional flag to use dynamic models (static=false) to test physics. 
       If set, the world will explode due to collisions.
  -->
  <arg name="dynamic_world" value="$(optenv DYNAMIC_WORLD false)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aws_robomaker_small_house_world)/worlds/small_house.world" if="$(eval dynamic_world == false)"/>
    <arg name="world_name" value="$(find aws_robomaker_small_house_world)/worlds/small_house_dynamic.world" if="$(eval dynamic_world == true)"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="extra_gazebo_args" value="--profile $(arg physics_profile)" unless="$(eval physics_profile == '')"/>
  </include>
</launch>
