<launch>
  <!-- Turtlebot robot model -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>                                                                                

  <!-- 
      Only allow users to set (x,y,yaw), otherwise initial 
      2D pose estimates will be wrong 
  -->
  <arg name="x_pos" default="3.5"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- 
       Always set GUI to false for AWS RoboMaker Simulation
       Use gui:=true on roslaunch command-line to run with a gui.
  -->
  <arg name="gui" default="false"/>

  <!-- Load the small house world into Gazebo -->
  <include file="$(find aws_robomaker_small_house_world)/launch/small_house.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Spawn the robot into Gazebo with the turtlebot description -->
  <include file="$(find turtlebot3_description_reduced_mesh)/launch/spawn_turtlebot.launch">
    <arg name="x_pos" default="$(arg x_pos)"/>
    <arg name="y_pos" default="$(arg y_pos)"/>
    <arg name="yaw" default="$(arg yaw)"/>
  </include>

  <!-- Enable navigation system -->
  <include file="$(find aws_robomaker_small_house_world)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(find aws_robomaker_small_house_world)/maps/turtlebot3_$(arg model)/map.yaml"/>
    <!-- Initial pose must match the starting position of the robot for an aligned map -->
    <arg name="initial_pose_x" value="$(arg x_pos)"/>
    <arg name="initial_pose_y" default="$(arg y_pos)"/>
    <arg name="initial_pose_a" default="$(arg yaw)"/>
    <arg name="open_rviz" value="false"/>
  </include>
</launch>
